### Working Out Speedskating Model

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
# Load data.
df = pd.read_csv("500_men.csv")
df.sample()

   finish              name age country     time
9      10  Kriieter, Joshua  M?     USA  0,53,32

In [35]:
# Convert to usable time format.
df['time']= df['time'].str.replace(',', ':')
df['time']= df['time'].str.replace('.', ':')

In [32]:
df.time.astype(str).str.zfill(6)

0     0:0:43:04
1     0:0:44:28
2     0:0:45:03
3     0:0:45:56
4     0:0:46:46
5     0:0:47:93
6     0:0:50:95
7     0:0:51:57
8     0:0:53:29
9     0:0:53:32
10    0:0:54:15
11    0:0:56:52
12    0:0:57:30
13    0:1:00:73
Name: time, dtype: object

In [19]:
# Insert zero before minutes
df['time'] = df['time'].apply(lambda x: '{0:0>3}'.format(x))
df

    finish              name  age country     time
0        1     Leopold, Axel  MA1     USA    43:04
1        2     Barber, Caden  MA1     USA    44:28
2        3     Jostes, Milan  MA1     USA    45:03
3        4        Tsai, Alan  MA1     USA    45:56
4        5        Weber, Max  MYA     USA    46:46
5        6       Shobe, Carl  MC2     USA    47:93
6        7    Campbell, Ezra  MC2     USA    50:95
7        8   Jensen, Zachary  MB1     USA    51:57
8        9    Kosel, Patrick  MC1     USA    53:29
9       10  Kriieter, Joshua   M?     USA    53:32
10      11  Chamberlain, Sam  MYB     USA    54:15
11      12    Moreton, Brock  MC1     USA    56:52
12      13     Nagel, Edward  MC1     USA    57:30
13      14      Groven, Adam  MC2     USA  1:00:73

In [36]:
# Convert to timedelta
df['time_delta'] = df['time'].apply(pd.to_timedelta)

In [37]:
df

    finish              name  age country     time time_delta
0        1     Leopold, Axel  MA1     USA  0:43:04   00:43:04
1        2     Barber, Caden  MA1     USA  0:44:28   00:44:28
2        3     Jostes, Milan  MA1     USA  0:45:03   00:45:03
3        4        Tsai, Alan  MA1     USA  0:45:56   00:45:56
4        5        Weber, Max  MYA     USA  0:46:46   00:46:46
5        6       Shobe, Carl  MC2     USA  0:47:93   00:48:33
6        7    Campbell, Ezra  MC2     USA  0:50:95   00:51:35
7        8   Jensen, Zachary  MB1     USA  0:51:57   00:51:57
8        9    Kosel, Patrick  MC1     USA  0:53:29   00:53:29
9       10  Kriieter, Joshua   M?     USA  0:53:32   00:53:32
10      11  Chamberlain, Sam  MYB     USA  0:54:15   00:54:15
11      12    Moreton, Brock  MC1     USA  0:56:52   00:56:52
12      13     Nagel, Edward  MC1     USA  0:57:30   00:57:30
13      14      Groven, Adam  MC2     USA  1:00:73   01:01:13